<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Delete User</title>
    <style>
        body {
			font-family: Arial, sans-serif;
			background-color: #24045fb2;
			color: #333;
			margin: 0;
			padding: 0;
		}
    </style>
</head>
<body>
	<h1>Delete User</h1>
	<form action="{{ url_for('/delete') }}" method="post">
		<label for="name">Name:</label>
		<input type="text" id="name" name="name" required><br><br>
		<input type="submit" value="Delete">
	</form>
</body>
</html>